<!-- public/views/footer.html -->
<footer class="border-gray-200 w-full mt-auto">
    <div class="max-w-screen-xl mx-auto p-4 flex flex-col md:flex-row items-center justify-between">
        <!-- Copyright -->
        <p class="order-2 md:order-1 mt-4 md:mt-0 text-sm text-gray-600 text-center md:text-left">&copy; 2025 Collab, all rights reserved</p>

        <!-- Links -->
        <ul class="order-1 md:order-2 flex flex-wrap items-center justify-center md:justify-end gap-3 md:gap-8 mt-4 md:mt-0 text-sm font-medium">
            <li>
                <a
                    href="/about"
                    class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0"
                >
                    About
                </a>
            </li>
            <li>
                <a
                    href="/privacy"
                    class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0"
                >
                    Privacy Policy
                </a>
            </li>
            <li>
                <a
                    href="/api/v1/docs/"
                    class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0"
                >
                    Rest API
                </a>
            </li>
        </ul>
    </div>
</footer>
