<!-- public/views/footer.html -->
<footer id="footer" class="site-footer text-gray-700 py-8 max-w-screen-xl mt-auto mx-auto w-full sm:px-10">
    <div class="container mx-auto">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <div class="footer-copyright text-center md:text-left">
                <p class="text-sm">&copy; 2025 Collab, all rights reserved</p>
            </div>
            <ul class="footer-links list-reset flex flex-col md:flex-row mt-4 md:mt-0">
                <li class="mr-6">
                    <a href="/about" class="text-gray-600 hover:text-blue-600">About</a>
                </li>
                <li class="mr-6">
                    <a href="/privacy" class="text-gray-600 hover:text-blue-600">Privacy Policy</a>
                </li>
                <li>
                    <a href="/api/v1/docs/" class="text-gray-600 hover:text-blue-600">Rest API</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
